

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cocktail.picture %> );">>




          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
          <p><%= cocktail.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
