body {
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F0CB35, #C02425);
  background: linear-gradient(to left, #F0CB35, #C02425);
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: white;
  opacity: 0.9;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
