<div class="navbar-wagon">

  <%= link_to(cocktails_path, class: "navbar-wagon-link") do %>
    <%= image_tag "icon.png", class: "avatar"%>
  <% end %>


  <%= link_to(new_cocktail_path, class: "navbar-wagon-link") do %>
    <i class="fa fa-plus fa-3x" aria-hidden="true" style="color:white"></i>
  <% end %>


</div>
