.banner {
  background-position: center;
  background-size: cover;
  height: calc(50vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner h1 {
  margin: 0;
}

