$card-margin-top: 20px;

.card {
  height: calc((100vh - 70px - #{$card-margin-top } * 3 ) / 2 );
  padding: 10px;
  margin-top: $card-margin-top;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.card-show {
  width: 40vh;
  height: 40vh;
}


.card-link:hover {
  opacity: 0.9;
  box-shadow: 3px 3px 41px 0px rgba(0,0,0,0.75);

}

